/* Polices d'écriture */

@font-face 
{
	font-family: 'BrushScriptStd';
	src: url('./BrushScriptStd.eot');
	src: local('BrushScriptStd'), url('fonts/BrushScriptStd.woff') format('woff'), url('fonts/BrushScriptStd.ttf') format('truetype');
}

/* Éléments généraux */
.bold
{
    font-weight: bold;
}

.size-date
{
    font-size: 16px;
}

body
{
    margin-top: 60px;
    background-image: url('../img/fond.png');
}

.news, .link-home a, .link-create-post a, .article, .comments, .form-login, .redaction
{
    border: 1px solid black;
}

.navbar, .hero
{
    box-shadow: 0 2px 8px black;
}

.container-fluid
{
    display: flex;
    justify-content: flex-end;
}

.navbar
{
    border: none;
}

.navbar-inverse .navbar-nav>li>a
{
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.nav, .container-fluid
{
    background-color: #bec2c4;
}

.hero
{
    margin-top: -10px;
}

.hero img
{
    width: 100%;
}

.text-image
{
    position: relative;
    top: -120px;
    text-align: center;
    color: #fff;
}

.main-title
{
    font-family: 'BrushScriptStd', Arial, serif;
}

.title-ending
{
    font-family: 'Arial Black', Arial, serif;
    text-transform: uppercase;
    margin-left: 5px;
}

h1
{
    font-size: 50px;
}

.bloc-page-index, .one-new-index
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.news, .article, .comments, .form-login
{
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: justify;
    padding: 25px;
}

.news
{
    width: 70%;
    word-wrap: break-word;
}

.one-new-index
{
    position: relative;
    top: -30px;
}

.one-new
{
    width: 85%;
}

.comments
{
    margin-top: 25px;
}

.comment-title
{
    margin-top: 30px;
}

h3
{
    margin: 0;
}

.news-date, .link-comments
{
    font-size: 18px;
}

.comment-date
{
    font-size: 16px;
}

.news-date, .comment-date
{
    font-style: italic;
}

.news h3 a, .news .link-comments a, .one-new .new-title, .link-home a, .comments h2, 
.report-link a, .article-rest a, .delete-comment-link a, .link-create-post a,
.already-reported
{
    color: #ce3a84;
    text-decoration: none;
    font-weight: bold;
}

.news h3 a:hover, .news .link-comments a:hover, .link-home a:hover,
.report-link a:hover, .article-rest a:hover, .delete-comment-link a:hover,
.link-create-post a:hover
{
    color: rgb(27, 158, 27);
}

.link-create-post
{
    margin-bottom: 25px;
}

.modify-margin
{
    margin-top: 40px;
}

.bloc-comment
{
    margin-bottom: 30px;
}

.comments h4
{
    font-size: 20px;
}

.comments h5
{
    font-weight: bold;
}

.comments form
{
    width: 50%;
}

.comments-author
{
    font-weight: bold;
}

.comments-date
{
   font-size: 15px; 
}

.form-login
{
    width: 300px;
    margin: auto;
    margin-bottom: 150px;
}

.incorrect-ids
{
    width: 300px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

form button, form label
{
    margin-top: 10px;
}

.link-home, .link-create-post
{
    font-size: 20px;
}

.link-home a, .link-create-post a
{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 25px;
}

.news h3 a
{
    text-decoration: none;
    font-weight: bold;
}

.link-home
{
    margin-bottom: 25px;
    text-align: center;
}

.redaction
{
    background-color: rgba(255, 255, 255, 0.7);
    width: 70%;
    margin: auto;
    padding: 25px;
    margin-bottom: 150px;;
}

h2
{
    margin: 0;
}

@media all and (min-width: 1199px)
{
    .text-image
    {
        top: -140px;
    }

    .text-image h1
    {
        font-size: 70px;
    }
}

@media all and (min-width: 1470px)
{
    .text-image
    {
        top: -200px;
    }

    .text-image h1
    {
        font-size: 90px;
    }
}

@media all and (max-width: 768px)
{
    .nav
    {
        display: flex;
    }

    h1
    {
        margin: 0 0 100px 0;
    }

    .bloc-page
    {
        background-image: url('../img/fond.png');
    }
    
    .hero
    {
        padding-top: 5px;
    }

    .text-image
    {
        top: 0;
        color: #fff;
        background-color: #989fa3;
        box-shadow: 0 2px 8px black;
    }
}