/* Polices d'écriture */

@font-face 
{
	font-family: 'BrushScriptStd';
	src: url('./BrushScriptStd.eot');
	src: local('BrushScriptStd'), url('fonts/BrushScriptStd.woff') format('woff'), url('fonts/BrushScriptStd.ttf') format('truetype');
}

@font-face {
    font-family: 'Mistral';
    font-style: normal;
    font-weight: normal;
    src: local('Mistral'), url('fonts/MISTRAL.woff') format('woff');
}

/* Éléments généraux */
.bold
{
    font-weight: bold;
}

.size-date
{
    font-size: 16px;
}

.site-presentation strong
{
    font-weight: normal;
}

.italic
{
    font-style: italic;
}

body
{
    margin-top: 60px;
    background-image: url('../img/fond.png');
}

.news, .link-home a, .link-create-post a, .article, .comments, .form-login, .redaction
{
    border: 1px solid black;
}

.navbar-inverse
{
    display: flex;
    justify-content: flex-end;
}

.navbar-inverse, .hero
{
    box-shadow: 0 2px 8px black;
}

.navbar-inverse .navbar-nav>li>a
{
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.nav, .navbar-inverse
{
    background-color: #bec2c4;
}

.hero
{
    margin-top: -10px;
}

.hero img
{
    width: 100%;
}

.text-image
{
    position: relative;
    top: -120px;
    text-align: center;
    color: #fff;
}

.main-title
{
    font-family: 'BrushScriptStd', Arial, serif;
}

.title-ending
{
    font-family: 'Arial Black', Arial, serif;
    text-transform: uppercase;
    margin-left: 5px;
}

h1
{
    font-size: 50px;
}

.bloc-page-index, .one-new-index
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.news, .article, .comments, .form-login, .biography, .site-presentation
{
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: justify;
    padding: 25px;
}

.news
{
    width: 70%;
    word-wrap: break-word;
}

.one-new-index
{
    position: relative;
    top: -30px;
}

.one-new
{
    width: 85%;
}

.comments
{
    margin-top: 25px;
}

.comment-title
{
    margin-top: 30px;
}

h3
{
    margin: 0;
}

.news-date, .link-comments
{
    font-size: 18px;
}

.comment-date
{
    font-size: 16px;
}

.news-date, .comment-date
{
    font-style: italic;
}

.news h3 a, .news .link-comments a, .link-posts a, .one-new .new-title, .link-home a, .comments h2, 
.report-link a, .article-rest a, .delete-comment-link a, .link-create-post a,
.already-reported
{
    color: #ce3a84;
    text-decoration: none;
    font-weight: bold;
}

.button-link-chapters a
{
    text-decoration: none;
}

.button-link-chapters a:hover
{
    color: white;
}

.news h3 a:hover, .news .link-comments a:hover, .link-home a:hover,
.report-link a:hover, .article-rest a:hover, .delete-comment-link a:hover,
.link-create-post a:hover, .link-posts a:hover
{
    color: rgb(27, 158, 27);
}

.link-create-post
{
    margin-bottom: 25px;
}

.modify-margin
{
    margin-top: 40px;
}

.bloc-comment
{
    margin-bottom: 30px;
}

.comments h4
{
    font-size: 20px;
}

.comments h5
{
    font-weight: bold;
}

.comments form
{
    width: 50%;
}

.comments-author
{
    font-weight: bold;
}

.comments-date
{
   font-size: 15px; 
}

.form-login
{
    width: 300px;
    margin: auto;
    margin-bottom: 150px;
}

.incorrect-ids
{
    width: 300px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

form button, form label
{
    margin-top: 10px;
}

.button-link-chapters
{
    font-size: 20px;
}

.link-home, .link-create-post
{
    font-size: 20px;
}

.link-home a, .link-create-post a, .button-link-chapters a
{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 25px;
}

.news h3 a
{
    text-decoration: none;
    font-weight: bold;
}

.link-home
{
    margin-bottom: 25px;
    text-align: center;
}

.redaction
{
    background-color: rgba(255, 255, 255, 0.7);
    width: 70%;
    margin: auto;
    padding: 25px;
    margin-bottom: 150px;
}

h2
{
    margin: 0;
}

.header-article
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.modify-delete-one-post-bottom
{
    margin-top: 30px;
}

.presentation, .site-presentation
{
    width: 90%;
}

.presentation .biography h1, .site-presentation
{
    font-family: 'Mistral', Arial, serif;
    font-size: 34px;
}

.presentation
{
    height: 285px;
    display: flex;
}

.presentation .biography
{
    height: 285px;
    margin: 0 0 20px 30px;
}

.button-link-chapters a:hover
{
    background-color: rgba(90, 93, 94, 1);
}

.site-presentation, .presentation .biography h1, .button-link-chapters a
{
    color: #5a5d5e;
}

.site-presentation
{
    margin: 30px 20px 60px 20px;
}

.presentation .biography h1
{
    margin-bottom: 20px;
    font-size: 60px;
}

.signature
{
    text-align: right;
}

.presentation img, .presentation .biography, .site-presentation
{
    box-shadow: 4px 4px 15px black;
}

@media all and (min-width: 1199px)
{
    .text-image
    {
        top: -140px;
    }

    .text-image h1
    {
        font-size: 70px;
    }
}

@media all and (min-width: 1470px)
{
    .text-image
    {
        top: -200px;
    }

    .text-image h1
    {
        font-size: 90px;
    }
}

/* Mise en forme de la présentation de l'auteur pour que le texte ne sorte pas du cadre blanc */
@media all and (max-width: 991px)
{
    .presentation
    {
        flex-direction: column;
        height: auto;
    }

    .presentation .biography
    {
        height: auto;
        margin-top: 20px;
        margin-left: 0;
    }
   
    .presentation img
    {
        margin-left: 0;
        margin-bottom: 20px;
        max-width: 280px;
        height: auto;
        align-self: center;
    }

    .site-presentation
    {
        margin: 20px;
        padding: 25px;
    }
}

@media all and (max-width: 767px)
{
    .navbar-inverse
    {
        justify-content: center;
    }

    .navbar-fixed-top
    {
        position: absolute;
        top: 0;
    }

    .navbar-inverse .navbar-nav>li>a
    {
        font-size: 13px;
    }

    .hero
    {
        margin-top: 135px;
    }

    h1
    {
        margin: 0 0 100px 0;
    }

    h2, .link-comments, .news h3
    {
        text-align: left;
    }

    .bloc-page
    {
        background-image: url('../img/fond.png');
    }

    .text-image
    {
        top: 0;
        color: #fff;
        background-color: #989fa3;
        box-shadow: 0 2px 8px black;
    }

    .presentation
    {
        width: auto;
    }

    .site-presentation
    {
        width: auto;
        margin: 20px 0 0 0;
    }

    .presentation .biography,
    {
        margin: 0;
    }
}

@media all and (max-width: 375px)
{
    .site-presentation
    {
        font-size: 23px;
    }
}